#################################
# GALERA CLUSTER CONFIGURATION: #
#################################
[mysqld]
bind-address=0.0.0.0
binlog_format=ROW
default-storage-engine=InnoDB
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name=galera_cluster
wsrep_sst_method=rsync
wsrep_sst_aut="root:rootpass"
